<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <title>Login|Facebook</title>
    <style>
        body{
            background-color: #192A56;
        }
        .main{
            height: 100vh;
        }
        .img-width{
            width: 100%;
        }
        .card{
            border: none;
            -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.4);
            -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.4);
            box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.4);
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex main flex-column justify-content-center align-items-center">
            <div class="card" style="width: 19rem;">
                <div class="card-img-top text-center">
                    <img class="img-width" src="https://d3t4nwcgmfrp9x.cloudfront.net/upload/facebook-presenta-certificacion-seguridad-de-marca-para-socios-de-marketing-643x342.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Login</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/login/facebook" class="btn btn-primary">login with facebook</a>
                </div>
            </div>

            <br>
            <a href="/" class="btn btn-success">Home</a>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>